<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>ClassicReads</title>
    <link rel="icon" type="image/x-icon" href="{% static 'books/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'books/m4in.css' %}">
</head>

<body>
    {% include "books/nav.html" %}

    <div class="arrange">
        <div id="preview1"></div>
        <div id="preview2"></div>
        <div id="preview3"></div>
    </div>

    <script src="{% static 'books/scripts/links.js' %}"></script>
    <script src="{% static 'books/scripts/links1.js' %}"></script>
    <script src="{% static 'books/scripts/links2.js' %}"></script>

</body>

</html>
