*{
    padding: 0 ;
    margin: 0;
    font-family: 'Dosis' ,sans-serif;
}

body {
    background-image: url('back.jpg');
    background-size: cover;
  }



.menu{
    margin: 30px;
    margin-top: 10px;
    align-items: left;
    display: flex;
    font-size: larger;
    font-weight: bold;
}

ul{
    cursor: pointer;
}


.menu li{
    list-style: none;
    margin: 30px;
    width: auto;
}

.menu li a{
    color: white;
    text-decoration: none;
}

.menu input[type=text] {
    background-color: transparent;
    height: 10px;
    float: right;
    padding: 6px;
    margin: 15px;
    border: none;
    width: 200px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
  }

.menu input[type=text]:focus{
    border: none;
    outline: transparent;
    color: white;
}


.pula{
    text-align: center;
    float: none;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-style: italic;
    cursor: default;
}

.arcane{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    cursor: default;
}

.zac{
    height: 500px;
    width: 800px;
    background-color: gray;
    opacity: 0.8;
    position: fixed;
    left: 330px;
    top: 150px;
}